.easy-securesection{
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: 52% 36%;
    height: 650px;
}
.easy-image{ 
    /* border: 1px solid black; */
    margin-top: 100px;
    background-image: url(IMAGES/special-about.png);
    background-size: contain;
    margin-left: 90px;
    background-repeat: no-repeat;
    transition: transform 2s;
}
.easy-image:hover{
    transform: rotateY(360deg);
}
.easy-content{

     /* border: 1px solid black; */
     margin-top: 100px;
     margin-left: 80px;
     display: grid;
     grid-template-rows: 24% 20% 20% ;
   row-gap: 20px;
    }
    .easy-content1{
        /* border: 1px solid black; */
        margin-top: 40px;
    }
    .easy-content2{
       /* border: 1px solid black; */
    }
    .easy-content3{
        /* border: 1px solid black; */
    }
    .easy-icon{
        /* border: 1px solid black; */
        height: 40px;
        width: 40px;
        border-radius: 7px;
        background-color: #bf2b70;
        margin-top: -70px;
    }
    .sandwatch-icon{
        margin-top: 6.7px;
        margin-left: 6.5px;
        color: white;
    }
    .secure-content1{
        color: #515151;
        font-size: x-large;
        font-weight: 495;   
        margin-left: 50px;       
    }
    .secure-content2{
        color: #616060;
        margin-left: 50px;
        margin-top: -10px;
    }
     .secure-content3{
        color: #616060;
     }
     @media screen and (max-width: 576px){
        
     }
    
 

