.text-center-footer{
    background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545, #e83e8c);
    margin-top: 50px;
    height: 500px;
   }
   .subscribe-heading {
       color: aliceblue;
       margin-top: 50px;
       text-transform: uppercase;
       font-size:500px;
       margin-left: -50px;
   }
   .newsletter{
       margin-top: 50px;
       margin-left: 400px;
   }
   .footer-email{
     border: 2px solid  white;
     border-radius: 20px;
     border-top-right-radius: 20px;
     height: 50px;
   }
   .mb-34{
     border: 1px solid black;
     background-color: aliceblue;
     border-radius: 40px;
     overflow: hidden;
     margin-left: -150px;
   }
   .copy-right {
     text-align: center;
   }
   .copy-right a {
     display: inline-block; 
     margin-top: 10px; 
   }
   .btn-sub{
    border: 1px solid black;
    margin-left: -165px;
    border-radius: 40px;  
    margin-top: 2.5px;
    width: 160px;
    height: 45px;
    padding-bottom: 5px;
    background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545);
   }
   .btn-sub:hover{
    background-color: #c11b69;
   }
   .social-icons{
    margin-left: 480px;

   }
   
   .list-inline-item{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
    background-color:transparent;
    text-align: center;

   }
   .fb-icon-sub,.tt-icon-sub,.wb-icon-sub,.in-icon-sub{
    color: white;
    margin-top: 10px;
   }
   .list-inline-item:hover{
    background-color:  #dc3545;

   }
   @media screen and (max-width:320px) {


    .text-center-footer {
      background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545, #e83e8c);
      margin-top: 250px;
      width: 396%;
      height: 500px;
      border: 1px solid black;
      overflow-x: hidden;
  }
  .mb-34{
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 40px;
    /* overflow: hidden; */
    margin-left: -393px;
  }  
    
   } 
   @media screen and (max-width:376px) {


    .text-center-footer {
      background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545, #e83e8c);
      margin-top: 250px;
      width: 396%;
      height: 500px;
      border: 1px solid black;
      overflow-x: hidden;
  }
  .mb-34{
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 40px;
    /* overflow: hidden; */
    margin-left: -393px;
  }  
    
   } 
   