/* Joinusnow.css or your custom CSS file */

.form-container {
    border: 1px solid #ddd;
    padding: 50px;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 30px;
    color: black;
    border-radius: 12px;
  }
  .submit{
    border: 1px solid white;
    background-color: aliceblue;
    float: right;
    color: black;
    width: 150px;
    border-radius: 12px;
  }
  .submit:hover{
    background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545, #e83e8c);
   border: 1px solid white;
  }