.frequently-section{
    /* border: 1px solid black; */
    height: auto;
    display:grid ;
    grid-template-rows: 20% 68%;
    padding-top: 100px;
    row-gap: 40px;
}
.frequently-header{
    /* border: 1px solid black;    */
    text-align: center;
    height: 200px;
}
.frequently-content{
    /* border: 5px solid black;  */
    display: grid;
    grid-template-columns: 50% 33%;
    column-gap: 100px;    
    padding-left: 100px;
    padding-top: 20px;
}
.frequently-heading{
font-weight: 495;
color: #545454;
font-size: 40px;
margin: 0;
text-transform: uppercase;
}

.frequently-line {
border-top: 3px solid #aa0919;
width: 6%;
margin-left: 47%;
}
 .frequently-paragraph{
    word-spacing: .3px;
    font-size: 15px;
}
#frequentlyparagraph-line2{
    margin-left: -10px;
}
.frequently-dropdowns{
    /* border: 1px solid black; */
}
.frequently-images{
    /* border: 1px solid black; */
    background-image: url(IMAGES/app2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    
}
.accordion-paragarph{
    font-size: 13.5px;
}
.accordion-header{
    font-size: 14px;
    font-weight: bold;
    color: #6a6767;
    background-color: transparent;
}
.accordion-header:hover{
    color: rgb(74, 6, 6);
}
.accordion-header:focus{
    color: rgb(18, 9, 56);
}

