.forheadersection{
   /* border: 1px solid black;    */
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.forappizenameandicon{
    background-image: url(IMAGES/logo.png);
    width: 200px;
    height: 40px;
    color: black;
    background-size: contain;
    margin-top: 2px;
    background-repeat: no-repeat;
    
}
.forappizeicon{
    color: white
    
}
.forappizefont{
    /* 10px */
    margin-left: 10px;
    margin-top: 15px;
    font-size: 35px;
    font-weight: 700;
}
.me-auto{
    /* 385 */
    margin-left: 358px;
    font-family: 'Poppins', sans-serif, "proxima-nova", "Helvetica Neue", Helvetica, Arial;
    font-weight: 400;
}
.fornavigation{
    color:white;
}
.fornavigation{
    background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545, #e83e8c);

}
.forlinkcolor{
    color: white;
    margin-left: 10px;
}
.forlinkcolor:hover
{
    color: rgb(68, 68, 123);
}
/* media quary for below 768 */ 
/* @media screen and (max-width : 576px) {
    .me-auto{
        /* 385 */
        /* margin-left: 0px;
        font-family: 'Poppins', sans-serif, "proxima-nova", "Helvetica Neue", Helvetica, Arial;
        font-weight: 200;
    }
    .forappizenameandicon{
        margin-left: -824px;
        width: 200px;
        height: 50px;

    }
    .nave-toggleicon{
        margin-left: 10px;
    }
  
} */ 

@media screen and (max-width : 320px){
    .forappizenameandicon{
        width: 500px;
        height: 113px;
        margin-left: 60px;
    }
    .me-auto{
        width: 95%;
        background-color: #dc3545;
        opacity:1 .3;
        margin-left: 67px;
        font-weight: 400;
        font-size: 60px;
    }
    

}



