.forheadersection{
   /* border: 1px solid black;    */
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.forappizenameandicon{
    background-image: url(IMAGES/logo.png);
    width: 200px;
    height: 50px;
    color: black;
    background-size: contain;
    margin-top: 2px;
}
`.forappizeicon{
    color: white
    
}
.forappizefont{
    /* 10px */
    margin-left: 10px;
    margin-top: 15px;
    font-size: 35px;
    font-weight: 700;
}
.me-auto{
    /* 385 */
    margin-left: 358px;
    font-family: 'Poppins', sans-serif, "proxima-nova", "Helvetica Neue", Helvetica, Arial;
    font-weight: 400;
}
.fornavigation{
    color:white;
}
.fornavigation{
    background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545, #e83e8c);

}
.forlinkcolor{
    color: white;
    margin-left: 10px;
}
.forlinkcolor:hover
{
    color: rgb(169, 147, 128);
}





