.forhomesction{
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: 1px solid black; */
    height: 593px;
    background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545, #e83e8c);
}
.homesection1{
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.homesection2{
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-repeat: no-repeat;
    /* padding-left: 100px; */
}
.forhomeheader{
    margin-top: 180px;
}
.forheaderlineone{
    color: black;
    text-align: left;
    margin-left: 55px;
    font-size: 3.5rem;
    color: white;
}
.forheaderlinetwo{
    color: black;
    text-align: left;
    margin-left: 55px;
    font-size: 3.5rem;
    color: white;
    margin-top: -10px;
}
.forcontentline3{
   font-size: medium;
    margin-left: 55px;
}
.forcontentline2{
    font-size: medium;
    margin-left: 55px;
}
.forcontentline1{
    font-size: medium;
    margin-left: 55px;
}
.forhomecontent{
    text-align: left;
    line-height: 15px;
    color: white;
}
.forhomebutton{
    margin-left: -375px;
    margin-top: 60px;
    height: 15%;
}
.forbuttonstyle{
    border-radius: 12px;
    width: 18%;
    height: 50%;
    margin-left: 85px;
    font-weight: 60;
    text-align: center;
    font-size: large;
    background-color: transparent;
    color: white;
    border-color: azure;
    border-width: 1.5px;
    
}
.forbuttonstyle:hover{
    background-color: white;
    color: black;
}
/* below line code is for image in hom,e sectgion*/
.homesectionimage{
    /* border: 1px solid black; */
    width: 60%;
    height: 430px;
    margin-top: 126px;
    margin-left: 67px;
    background-image: url(IMAGES/header-image.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* media quary for below 767 px width */

@media screen and (max-width: 576px) {
    .forhomesction {
        grid-template-columns: 100%; /* Change the grid layout for smaller screens */
        height: auto; /* Let the height adjust to the content */
        width: 148%;
    }
    .forheaderlinetwo{
    margin-left: 492px;
    margin-top: -71px;
    }
    .forcontentline3{
        font-size: medium;
         margin-left: 55px;
         font-size: 24px;
     }
     .forcontentline2{
         font-size: medium;
         margin-left: 55px;
         font-size: 24px;
     }
     .forcontentline1{
         font-size: 24px;
         margin-left: 55px;
      
     }
     .forhomecontent{
         text-align: left;
         line-height: 27px;
         margin-top: 10px;
     }
     .forhomebutton{
        margin-left: -531px;
     }
    
}


