
.joinusnow {
  text-align: center;
  margin-bottom: 30px; 
}
.bg-light{
  margin-top: 100px;
}
.line-title-center {
  border-top: 2px solid  rgb(204, 54, 54); 
  width: 50px; 
  margin: 20px auto; 
}
.contact-tags{
  margin-top: 100px;
}
@media screen and (max-width:320px) {

 
  .bg-light{
    border: 1px solid black;
    width:399%;
    height: auto;
  }
  .js-header {
    font-size: 100px;
  }
  .line-title-center {
    border-top: 2px solid rgb(204, 54, 54);
    width: 150px;
    margin: 20px auto;
}
.join-contact{
  font-size: 40px;
}


}
@media screen and (max-width:376px) {

 
  .bg-light{
    border: 1px solid black;
    width:399%;
    height: auto;
  }
  .js-header {
    font-size: 100px;
  }
  .line-title-center {
    border-top: 2px solid rgb(204, 54, 54);
    width: 150px;
    margin: 20px auto;
}
.join-contact{
  font-size: 40px;
}


}
