.lestblog-section{
    display: grid;
    /* border: 1px solid black; */
    grid-template-rows: 20% 70%;
    height: 800px;
    padding-top: 100px;background-color: rgb(241, 241, 241);
}
.letsblog-header{
    /* border: 1px solid black; */
    text-align: center;

}
.letsblog-line{
    border-top: 3px solid #aa0919;
    width: 6%;
    margin-left: 47%;
}
.letsblog-heaederlin{
    font-weight: 495;
    color: #545454;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.letsblog-cards{

    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 30px;
    padding-left: 53px;
}
.lestblogcard-1{

    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 50% 50%;
}
.lestblogcard-2{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 50% 50%;
}

.lestblogcard-3{
   /* border: 1px solid black; */
   display: grid;
   grid-template-rows: 50% 50%;
}
.cards-image1{
    /* border: 1px solid black; */
    background-image: url(IMAGES/1.jpg);
    background-size: cover;
    display: block;
    transition: filter 0.5s ease;
}
.cards-image1:hover{
    filter: brightness(0.7) sepia(1) hue-rotate(320deg);
}
.cards-image2{
    /* border: 1px solid black; */
    background-image: url(IMAGES/2.jpg);
    background-size: cover;
}
.cards-image3{
    /* border: 1px solid black; */
    background-image: url(IMAGES/3.jpg);
    background-size: cover;
}
.cards-header{
    background-color:rgb(255, 255, 255);
    /* border: 1px solid black; */

}
.cards-button{
    border: 1px solid black;

}
.cards-headercontent{
    margin-top: 25px;
    color: rgb(97, 11, 11);
    text-indent: 15px;
}
.cards-line1,.cards-line2,.cards-line3{
    text-indent: 15px;
    line-height: 9px;
}
.cards-line1{
    margin-top: 20px;
}
.card1-date{
    color: darkgray;
    margin-left: 15px;
}
.card1-commands{
    color: darkgray;
    margin-left: 110px;
}
.card-button{
    margin-top: 10px;
    width: 120px;
    height: 30px;
    margin-left: 15px;
    border-radius: 8px;
    font-size: 14px;
    border-width: 1px;
    color: black;
}
.card-button:hover{
    background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545);
    color: white;
}


