.lestblog-section{
    display: grid;
    /* border: 1px solid black; */
    grid-template-rows: 20% 70%;
    height: 800px;
    padding-top: 100px;
    background-color: rgb(241, 241, 241);
    
}
.letsblog-header{
    /* border: 1px solid black; */
    text-align: center;

}
.letsblog-line{
    border-top: 3px solid #aa0919;
    width: 6%;
    margin-left: 47%;
}
.letsblog-heaederlin{
    font-weight: 495;
    color: #545454;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.letsblog-cards{

    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 30px;
    padding-left: 63px;
}
.lestblogcard-1{

    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 50% 50%;
    
}
.lestblogcard-2{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 50% 50%;
}

.lestblogcard-3{
   /* border: 1px solid black; */
   display: grid;
   grid-template-rows: 50% 50%;
}
.cards-image1 {
    background-image: url(IMAGES/1.jpg);
    background-size: cover;
    display: block;   
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative; /* Ensure positioning context for absolute positioning */
    transition: transform 2s;
}

.for-effect {
    position: absolute; /* Position relative to the .cards-image1 */
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #c11b69;
    opacity: .4;
    transition: width 2s, height 2s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.lestblogcard-1:hover .for-effect {
    width: 100%;
    height: 245px;
   
}

.cards-image1:hover{
    transform: rotateY(360deg);
}

.cards-image2{
    /* border: 1px solid black; */
    background-image: url(IMAGES/2.jpg);
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative; 
    transition: transform 2s;
}
.lestblogcard-2:hover .for-effect{
    width: 100%;
    height: 245px;  
}
.cards-image3{
    /* border: 1px solid black; */
    background-image: url(IMAGES/3.jpg);
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative; 
}
.lestblogcard-3:hover .for-effect{
    width: 100%;
    height: 245px;  
}
.cards-image3:hover{
    transform: rotateY(360deg);
}
.cards-header{
    background-color:rgb(255, 255, 255);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border: 1px solid black; */

}
.cards-button{
    border: 1px solid black;
    

}
.cards-headercontent{
    margin-top: 25px;
    color: rgb(97, 11, 11);
    text-indent: 15px;
}
.cards-line1,.cards-line2,.cards-line3{
    text-indent: 15px;
    line-height: 9px;
}
.cards-line1{
    margin-top: 20px;
}
.card1-date{
    color: darkgray;
    margin-left: 15px;
}
.card1-commands{
    color: darkgray;
    margin-left: 110px;
}
.card-button{
    margin-top: 10px;
    width: 120px;
    height: 30px;
    margin-left: 15px;
    border-radius: 8px;
    font-size: 14px;
    border-width: 1px;
    color: black;
    background-color: white;
}
.card-button:hover{
    background: linear-gradient(to right, #dc3545,#e31374, #c11b69,#dc3545);
    color: white;
}


