.specification{
    display: grid;
    grid-template-rows: 35% 65%;
    /* border: 3px solid rgb(204, 54, 54); */
    height: 650px;
    background-color: #f8f9fa;
}
.specificationheader{
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 100px;
}
.forheader{
    font-weight: 400;
    color: #2c2e30;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.feature1font
{
    color: black;
}
.specificationcontent{
    /* border: 1px solid black; */
}
.forline{
   border-top: 3px solid #aa0919;
   width: 6%;
   margin-left: 47%;
}
.specificationcontent
{
    display: grid;
    grid-template-columns: 29.2% 29.2% 29.2%;
    /* border: 1px solid black; */
    padding-left: 5%;
    column-gap: 2%;
}
.features1{
    margin-top: 70px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 40% 15% 45% ;
    height: 270px ;   
}
.features2{
    margin-top: 70px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 40% 15% 45% ;
    height: 270px ;
}
.features3{
    margin-top: 70px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 40% 15% 45% ;
    height: 270px ;
}
.feature1logo{
    /* border: 1px solid balck; */
    margin-left: 40%;
    margin-top: 20px;

}
.feature1header{
    /* border: 1px solid balck; */
    text-align: center;
    color: #5b5f63;
    font-size: 1.4rem;
}
.feature1content
{
    /* border: 1px solid balck; */
    text-indent: 0%;
}
.contenlines{
    margin-left: 30px;
}
.features3:hover,.features2:hover,.features1:hover{
    background-color: white
}
/* @media screen and (max-width: 576px){
    .specification{
        grid-template-rows: 30%;
        width: 148%;
        height: auto;
        padding-bottom: 219px;

    }
    .forheader{
        font-size: 50px;

    }
    .forparagarph{
          font-size: 21px;
          height: auto;
    }
    .specificationcontent
{
    display: grid;
    grid-template-columns: 100%;
    /* border: 1px solid black; */
   /* text-align: center;
   margin-top: -147px;
   height: auto;
} */
/* .feature1logo{
    margin-left: 0px;
}
.mobile-icons{
    width: 88px;
    height: 88px;
}
.feature1font{
    font-size: 38px;
}
.contenlines{
    font-size: 20px;
    margin-top: 10px;
}
.feature1content{
    margin-top: 20px;
} */
/* .features3{
    /* background-color: red; */
  
/* }
}   */
@media screen and (max-width : 320px){
    .specification{
        width: 307%;
        grid-template-rows: 15%;
        /* border: 3px solid rgb(204, 54, 54); */
        height: auto;
     
    }
    .specificationheader{
        height: auto;
    }
    .forheader{
        font-weight: 400;
        color: #2c2e30;
        font-size: 95px;
        margin: 0;
        text-transform: uppercase;
    }
    .forline{
        border-top: 10px solid #aa0919;
        width: 22%;
        margin-left: 40%;
     }
    .specificationcontent{
        grid-template-columns:100%;
        
    }
    .features1,.features2,.features3{
        margin-top: 70px;
        /* border: 1px solid black; */
        
        height: auto ;   
    }
    .forparagarph{
        font-size: 41px;
        margin-left: 53px;
    }
  .mobile-icons{
    width: 33%;
    height: 171%;
  }
  .feature1header{
    /* border: 1px solid balck; */
    text-align: center;
    color: #5b5f63;
    font-size: 3.4rem;
    margin-top: 94px;
}
.feature1content{
    margin-left: 100px;
    margin-top: 100px;
    font-size: 39px;
}
}