.specification{
    display: grid;
    grid-template-rows: 35% 65%;
    /* border: 3px solid rgb(204, 54, 54); */
    height: 650px;
    background-color: #f8f9fa;
}
.specificationheader{
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 100px;
}
.forheader{
    font-weight: 400;
    color: #2c2e30;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.feature1font
{
    color: black;
}
.specificationcontent{
    /* border: 1px solid black; */
}
.forline{
   border-top: 3px solid #aa0919;
   width: 6%;
   margin-left: 47%;
}
.specificationcontent
{
    display: grid;
    grid-template-columns: 29.2% 29.2% 29.2%;
    /* border: 1px solid black; */
    padding-left: 5%;
    column-gap: 2%;
}
.features1{
    margin-top: 70px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 40% 15% 45% ;
    height: 270px ;   
}
.features2{
    margin-top: 70px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 40% 15% 45% ;
    height: 270px ;
}
.features3{
    margin-top: 70px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 40% 15% 45% ;
    height: 270px ;
}
.feature1logo{
    /* border: 1px solid balck; */
    margin-left: 43%;
    margin-top: 20px;

}
.feature1header{
    /* border: 1px solid balck; */
    text-align: center;
    color: #5b5f63;
    font-size: 1.4rem;
}
.feature1content
{
    /* border: 1px solid balck; */
    text-indent: 0%;
}
.contenlines{
    margin-left: 30px;
}
.features3:hover,.features2:hover,.features1:hover{
    background-color: white
}