.whyisbest{
  display: grid;
  grid-template-columns: 33% 67%;
  height: 680px;
  /* border: 2px solid black;    */
}
  .whyisbestimage{
    background-image: url(IMAGES/why-best.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* border:  1px solid red;                   */
    margin-top: 100PX;
    margin-left: 70px;
  }
  .whyisbestcontent{
    /* border: 1px solid black;                 */
    display: grid;
    grid-template-rows: 30% 21% 9% 25%;
  }
  .whyisbestheader{
    /* border: 1px solid rosybrown; */
    margin-top: 100px;
    margin-left: 150px;
    font-weight: 400;
    color: #595d61;
    font-size: 40px;
    text-transform: uppercase;
    line-height:43px;
  }
  .whysisbestheaderline2{
    margin-top: 4px;
  
  }
  .whyisbestparagraph{
    /* border: 1px solid rgb(0, 0, 0);         */
    margin-top: 10px;
   margin-left:150px;
  }
  .whyisbestparagraph2{
    /* border: 1px solid rgb(255, 4, 4);         */
    margin-left:150px;
  }
  .whyisbestbutton{
    margin-top: 2px;
    /* border: 1px solid rgb(194, 17, 17);           */
    display: grid;
    grid-template-columns: 40% 40%;
  }


  /* the below code is for button  */
  .whyisbest-btn1{
    width: 200px;
    height: 60px;
    display: grid;
    grid-template-columns: 20% 50%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 150px;
    border-width: .5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    column-gap: 12px;
  }
  .whyisbest-btn2{
    width: 200px;
    height: 60px;
    display: grid;
    grid-template-columns: 20% 50%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 35px;
    border-width: .5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    column-gap: 12px;
  }
  
  .whyisbest-btn1:hover{
    background-color: #e31374;
    color: white;
  }
  .whyisbest-btn2:hover{
    background-color: #e31374;
    color: white;
  }
  .whyisbest-btn-log1{
    margin-top: -5px;
  }
  .whyisbest-btn-log2{
    margin-top: -5px;
  }
  .whyisbest-btn-content1{
    padding-top: 5px;
    height: auto;
    text-align: left;
   
  }
  .whyisbest-btn-content2{
    padding-top: 5px;
    height: auto;
    text-align: left;
  }
  .apple-store-font1{
    font-size: 11px;
    
    /* font-weight: 500; */
  }
  .apple-store-font2{
    margin-top: -7px;
    font-size: medium; 
    /* font-weight: 500; */
  }
  .googlestorebutton:hover,.applestorebutton:hover{
    background-color: #e31374;
    color: white;
  }
  .forgoogleicon:hover{
    color: white;
  }
  @media screen and (max-width:320px){
   
    .whyisbest{
      display: grid;
      grid-template-columns: 100%;
      height: auto;
    }
    .whyisbestimage{
      width: 288%;
      height: 1412px;
    }
    .whyisbestcontent{
      border: 1px solid black;                
      display: grid;
      grid-template-rows: 25% 30% 21% ;
      width: 383%;
      height: auto;
      /* width: 200%; */
      margin-top: -180px;
      height: 2500px;
    }
    .whyisbestheader{
      border: 1px solid rosybrown;
      /* margin-top: 100px; */
      margin-left: 150px;
      font-weight: 600;
      color: #595d61;
      font-size: 86px;
      text-transform: uppercase;
      line-height:91px;
      height: auto;
      /* padding-bottom: 827px; */
      width: auto;
    }
    .whyisbestparagraph{
      border: 1px solid rgb(0, 0, 0);        
      margin-top: 81px;
      margin-left:150px;
      font-size: 45px;
      height: auto;
      width: 86%;
    }
    .whyisbestparagraph2{
      border: 1px solid rgb(0, 0, 0);        
      margin-top: 81px;
      margin-left:150px;
      font-size: 45px;
      height: auto;
      width: 86%;
    }
    .whyisbest-btn1{
      width: 250px;
      height: 150px;
      display: grid;
      grid-template-columns: 20% 50%;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      margin-left: 150px;
      border-width: 2.5px;
      border-radius: 10px;
      color: rgb(0, 0, 0);
      background-color: transparent;
      column-gap: 12px;
    }
    .whyisbest-btn2{
      width: 250px;
      height: 150px;
      display: grid;
      grid-template-columns: 20% 50%;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      margin-left: 35px;
      border-width: .5px;
      border-radius: 10px;
      color: rgb(0, 0, 0);
      background-color: transparent;
      column-gap: 12px;
    }
    

  }
  @media screen and (max-width:376px){
   
    .whyisbest{
      display: grid;
      grid-template-columns: 100%;
      height: auto;
    }
    .whyisbestimage{
      width: 288%;
      height: 1412px;
    }
    .whyisbestcontent{
      border: 1px solid black;                
      display: grid;
      grid-template-rows: 25% 30% 21% ;
      width: 383%;
      height: auto;
      /* width: 200%; */
      margin-top: -180px;
      height: 2500px;
    }
    .whyisbestheader{
      border: 1px solid rosybrown;
      /* margin-top: 100px; */
      margin-left: 150px;
      font-weight: 600;
      color: #595d61;
      font-size: 86px;
      text-transform: uppercase;
      line-height:91px;
      height: auto;
      /* padding-bottom: 827px; */
      width: auto;
    }
    .whyisbestparagraph{
      border: 1px solid rgb(0, 0, 0);        
      margin-top: 81px;
      margin-left:150px;
      font-size: 45px;
      height: auto;
      width: 86%;
    }
    .whyisbestparagraph2{
      border: 1px solid rgb(0, 0, 0);        
      margin-top: 81px;
      margin-left:150px;
      font-size: 45px;
      height: auto;
      width: 86%;
    }
    .whyisbest-btn1{
      width: 250px;
      height: 150px;
      display: grid;
      grid-template-columns: 20% 50%;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      margin-left: 150px;
      border-width: 2.5px;
      border-radius: 10px;
      color: rgb(0, 0, 0);
      background-color: transparent;
      column-gap: 12px;
    }
    .whyisbest-btn2{
      width: 250px;
      height: 150px;
      display: grid;
      grid-template-columns: 20% 50%;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      margin-left: 35px;
      border-width: .5px;
      border-radius: 10px;
      color: rgb(0, 0, 0);
      background-color: transparent;
      column-gap: 12px;
    }
    

  }